

body {
  margin: 0;
  
  background-image: url(Images/6046874.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}


span{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  color: hsl(36, 23%, 68%);
}



 .digital-clock{
  text-align: center;
}
